@media (min-width: 1025px) and (max-width: 1125px) {
  /* body {
  background-color: red;
 } */
  input[type="search"] {
    display: none;
  }
  .nav-search-bar {
    width: 4rem;
  }
  .nav-icons {
    margin-right: -14rem;
  }
  .fixed {
    top: 0;
  }
  .left-content {
    margin-top: 5rem;
  }
  .mainside-bar-content {
    flex-basis: 46%;
    margin-left: -20rem;
  }
  .input-searchs {
    border: none;
    display: block;
    padding: 2rem;
    width: 48rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #f0f2f5;
    margin-right: rem;
    font-size: 3rem;
    font-size: 1.4rem;
    background-color: #f0f2f5;
    outline: none;
  }
  .Post {
    height: 74rem;
  }
  .left-content {
    display: none;
  }
  .right-sidebar {
    flex-basis: 25%;
  }
  .Postsity {
    height: 68rem;
  }
  .story-full-view {
    margin-top: 5rem;
  }
  .post-full-images {
    height: 47rem;
  }
}

@media (min-width: 1125px) and (max-width: 1299px) {
  /* body {
  background-color: blue;
 } */
  input[type="search"] {
    display: none;
  }
  .nav-search-bar {
    width: 4rem;
  }
  .nav-icons {
    margin-right: -14rem;
  }
  .fixed {
    top: 0;
  }
  .left-content {
    margin-top: 5rem;
  }
  .mainside-bar-content {
    flex-basis: 46%;
    margin-left: -20rem;
  }
  .input-searchs {
    border: none;
    display: block;
    padding: 2rem;
    width: 48rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #f0f2f5;
    margin-right: rem;
    font-size: 3rem;
    font-size: 1.4rem;
    background-color: #f0f2f5;
    outline: none;
  }
  .Post {
    height: 74rem;
  }
  .left-content {
    display: none;
  }
  .right-sidebar {
    flex-basis: 25%;
  }
  .Postsity {
    height: 68rem;
  }
  .story-full-view {
    margin-top: 5rem;
  }
  .post-full-images {
    height: 47rem;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 868px) {
  /* body {
                background-color: blue;
            } */
  input[type="search"] {
    display: none;
  }
  .nav-search-bar {
    width: 4rem;
  }
  .nav-icons {
    margin-right: -12rem;
    padding: 0rem;
  }
  .nav-icons ul li a {
    padding: 1.1rem 1rem;
  }
  .left-sidebar {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  .mainside-bar-content {
    flex-basis: 60%;
    margin-left: 13rem;
  }
  .input-searchs {
    border: none;
    display: block;
    padding: 2rem;
    width: 48rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #f0f2f5;
    margin-right: rem;
    font-size: 3rem;
    font-size: 1.4rem;
    background-color: #f0f2f5;
    outline: none;
  }
  .Post {
    height: 73rem;
  }
  .Postsity {
    height: 65rem;
  }
  .post-full-images {
    height: 44rem;
  }
  .story-full-view {
    margin-top: 6rem;
  }
  .load-more {
    margin-left: 16rem;
  }
}
@media (min-width: 797px) and (max-width: 872px) {
  .Post {
    height: 78rem;
  }
  .Postsity {
    height: 75rem;
  }
}
@media (min-width: 869px) and (max-width: 999px) {
  /* background body {
    -color: red;
  } */
  input[type="search"] {
    display: none;
  }
  .nav-search-bar {
    width: 4rem;
  }
  .nav-icons {
    margin-right: -12rem;
    padding: 0rem;
  }
  .nav-icons ul li a {
    padding: 1.1rem 1rem;
  }
  .left-sidebar {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  .mainside-bar-content {
    flex-basis: 60%;
    margin-left: 13rem;
  }
  .input-searchs {
    border: none;
    display: block;
    padding: 2rem;
    width: 48rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #f0f2f5;
    margin-right: rem;
    font-size: 3rem;
    font-size: 1.4rem;
    background-color: #f0f2f5;
    outline: none;
  }
  .Post {
    height: 80rem;
  }
  .Postsity {
    height: 69rem;
  }
  .post-full-images {
    height: 44rem;
  }
  .story-full-view {
    margin-top: 6rem;
  }
  .load-more {
    margin-left: 16rem;
  }
}
@media (min-width: 900px) and (max-width: 996px) {
  .Postsity {
    height: 74rem;
  }
  .post-full-images {
    height: 52rem;
  }

  .Post {
    height: 85rem;
  }
}
@media (min-width: 960px) and (max-width: 1000px) {
  .mainside-bar-content {
    flex-basis: 53%;
    margin: 0 auto;
    /* margin-left: -20rem; */
  }
}
@media (min-width: 1002px) and (max-width: 1027px) {
  .left-sidebar {
    display: none;
  }
  .mainside-bar-content {
    flex-basis: 50%;
    margin: 0 auto;
    /* margin-left: -20rem; */
  }
  .nav-icons {
    margin-right: -6rem;
  }
  input[type="search"] {
    display: none;
  }
  .nav-search-bar {
    width: 4rem;
  }
  .input-searchs {
    border: none;
    display: block;
    padding: 2rem;
    width: 48rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #f0f2f5;
    margin-right: rem;
    font-size: 3rem;
    font-size: 1.4rem;
    background-color: #f0f2f5;
    outline: none;
  }
  .right-sidebar {
    flex-basis: 30%;
  }
}

@media (min-width: 1085px) and (max-width: 1185px) {
  .Post {
    height: 76rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 520px) {
  .left-content {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  input[type="search"] {
    display: none;
  }
  .nav-search-bar {
    width: 4rem;
  }
  .nav-icons {
    display: none;
  }
  .mainside-bar-content {
    flex-basis: 100%;
    margin-right: -6rem;
    /* margin-left: -20rem; */
  }
  .input-searchs {
    border: none;
    display: block;
    padding: 2rem;
    width: 48rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #f0f2f5;
    margin-right: rem;
    font-size: 3rem;
    font-size: 1.4rem;
    background-color: #f0f2f5;
    outline: none;
  }
  .Post {
    height: 78rem;
  }
  .Postsity {
    height: 70rem;
  }
  .post-full-images {
    height: 45rem;
  }
  .tooltip-whole {
    margin-right: -32rem;
  }
  .story-full-view {
    margin-top: 7rem;
  }
}
@media screen and (min-width: 521px) and (max-width: 610px) {
  .nav-icons {
    display: none;
  }
  input[type="search"] {
    display: none;
  }
  .nav-search-bar {
    width: 4rem;
  }
  .left-content {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  .mainside-bar-content {
    flex-basis: 100%;
    margin-right: -7rem;
    /* margin-left: -20rem; */
  }
  .input-searchs {
    border: none;
    display: block;
    padding: 2rem;
    width: 48rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #f0f2f5;
    margin-right: rem;
    font-size: 3rem;
    font-size: 1.4rem;
    background-color: #f0f2f5;
    outline: none;
  }
}
@media screen and (min-width: 530px) and (max-width: 600px) {
  .left-sidebar {
    display: none;
  }
  .mainside-bar-content {
    flex-basis: 90%;
    margin: 0 auto;
    /* margin-left: -20rem; */
  }
  .input-searchs {
    border: none;
    display: block;
    padding: 2rem;
    width: 48rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #f0f2f5;
    margin-right: rem;
    font-size: 3rem;
    font-size: 1.4rem;
    background-color: #f0f2f5;
    outline: none;
  }
}

@media screen and (min-width: 599px) and (max-width: 686px) {
  .nav-icons {
    display: none;
  }
  input[type="search"] {
    display: none;
  }
  .nav-search-bar {
    width: 4rem;
  }
  .left-sidebar {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  .mainside-bar-content {
    flex-basis: 80%;
    margin: 0 auto;
    /* margin-left: -20rem; */
  }
  .input-searchs {
    border: none;
    display: block;
    padding: 2rem;
    width: 48rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #f0f2f5;
    margin-right: rem;
    font-size: 3rem;
    font-size: 1.4rem;
    background-color: #f0f2f5;
    outline: none;
  }
}

@media screen and (min-width: 652px) and (max-width: 690px) {
  .mainside-bar-content {
    flex-basis: 78%;
    margin: 0 auto;
    /* margin-left: -20rem; */
  }
}

@media screen and (min-width: 689px) and (max-width: 769px) {
  .nav-icons {
    display: none;
  }
  input[type="search"] {
    display: none;
  }
  .nav-search-bar {
    width: 4rem;
  }
  .input-searchs {
    border: none;
    display: block;
    padding: 2rem;
    width: 48rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #f0f2f5;
    margin-right: rem;
    font-size: 3rem;
    font-size: 1.4rem;
    background-color: #f0f2f5;
    outline: none;
  }
  .left-sidebar {
    display: none;
  }
  .left-content {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  .mainside-bar-content {
    flex-basis: 65%;
    margin: 0 auto;
    /* margin-left: -20rem; */
  }
}

@media screen and (min-width: 350px) and (max-width: 431px) {
  input[type="search"] {
    display: none;
  }
  .left-content {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  .nav-search-bar {
    width: 4rem;
  }
  .nav-icons {
    display: none;
  }
  .mainside-bar-content {
    flex-basis: 100%;
    margin: 0 auto;
  }
  .input-searchs {
    border: none;
    display: block;
    padding: 2rem;
    width: 48rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #f0f2f5;
    margin-right: rem;
    font-size: 3rem;
    font-size: 1.4rem;
    background-color: #f0f2f5;
    outline: none;
  }
  .Post {
    height: 65rem;
  }
  .Postsity {
    height: 61rem;
  }
  .post-full-images {
    height: 37rem;
  }
  .load-more {
    margin-right: -15rem;
  }
  .tooltip-whole {
    margin-right: -36rem;
  }
  .like-box {
    width: 50%;
  }
}
@media screen and (min-width: 132px) and (max-width: 500px) {
  /* body{
    background-color: yellow;
  } */
  .left-content {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  .mainside-bar-content {
    flex-basis: 100%;
    /* margin-right: -4rem; */
    margin: 0 auto;
  }
  .nav-icons {
    display: none;
  }
  input[type="search"] {
    display: none;
  }
  .nav-search-bar {
    width: 4rem;
  }
  .input-searchs {
    border: none;
    display: block;
    padding: 2rem;
    width: 48rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #f0f2f5;
    margin-right: rem;
    font-size: 3rem;
    font-size: 1.4rem;
    background-color: #f0f2f5;
    outline: none;
  }
  .Post {
    height: 68rem;
  }
  .Postsity {
    height: 63rem;
  }
  .post-full-images {
    height: 40rem;
  }
  .like-box {
    width: 50%;
  }
}

@media (min-width: 1300px) and (max-width: 2753px) {
  /* body {
    background-color: blue;
  } */

  .fixed {
    top: 0;
  }
  .left-content {
    margin-top: 5rem;
  }
  .mainside-bar-content {
    flex-basis: 38%;
  }
}
/* 
Skeleton loading implemention 
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
} */
